@charset "utf-8";

//常用简化写法
@mixin height($h:30px) { 
    height: $h; 
    line-height: $h; 
}
@mixin opacity($opacity:30) {
    opacity: $opacity/100; 
    filter: alpha(opacity=$opacity); 
}
@mixin clear() { 
    display: block; 
    content: '.'; 
    clear: both; 
    height: 0; 
    line-height: 0; 
    visibility: hidden; 
}